@mixin header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    &__logo{
        width: 185px;
        height: auto;
    }
}

@mixin footer {
    background-color: $color-footer;
    padding: 2% 0 5% 5%;
    & h2{
        font-family: "shrikhand";
        color: white;
    }
    & a{
        color: white;
        text-decoration: none;
        & i{
            margin-right: 10px;
        }
        & .icone-hand{
            width: .8rem;
        }
    }
}

@mixin button {
    display: inline-block;
    background: $color-primary;
    background: linear-gradient(352deg, $color-primary 0, $color-secondary 92%); 
    border-radius: 50% / 192%;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    box-shadow: 2px 4px 6px darken($color-bg, 30%);
    &:hover{
        box-shadow: 2px 4px 2px darken($color-bg, 50%);
    }
}

@mixin new {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiaire;
    color: darken($color-tertiaire, 40%);
    height: 30px;
    width: 80px;
    border-radius: 7% / 16%;
    position: absolute;
    right: 50px;
    z-index: 1;
}