//All

@mixin header {
    //En-tête
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    &__logo{
        width: 185px;
        height: auto;
    }
}

@mixin footer {
    //Pied de pages
    background-color: $color-footer;
    padding: 2% 0 5% 5%;
    & h2{
        font-family: $font-title;
        color: white;
    }
    & a{
        color: white;
        text-decoration: none;
        & i{
            margin-right: 10px;
        }
        & .icone-hand{
            width: .8rem;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

@mixin button {
    //Pour les boutons de toutes les pages
    display: inline-block;
    background: linear-gradient(352deg, $color-primary 0, $color-secondary 92%); 
    border-radius: 50% / 192%;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    box-shadow: 2px 4px 6px darken($color-bg, 30%);
    width: 161px;
    text-align: center;
    @include transition($duration: $medium-duration);
    &:hover{
        @include transition($scale: $big-scale);
        filter: brightness(110%);
        box-shadow: 2px 4px 7px darken($color-bg, 60%)
    }
}

    //Transitions

@mixin transition($scale: $small-scale, $duration: $small-duration){
    //Transitions de taille (augmentation ou réduction)
    transform: scale($scale);
    transition: transform $duration ease-in-out;
}

@mixin transition-opacity($opacity: 0) {
    //Transitions pour les opacités (ex : les coeurs)
    opacity: $opacity;
    transition: opacity $big-duration cubic-bezier(1,.01,.63,.88);
}

    //Animation

@mixin anim-hearts{
    .heart-inside{
        @include transition-opacity($opacity: 1);
        background: linear-gradient(360deg, $color-secondary 30%, $color-primary 100%);
        background-clip: text;
    }
    .heart-outside{
        @include transition-opacity;
    }
}

//Accueil

    //Loader

@mixin overlay {
    //Overlay pour l'écran de chargement
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    //Pour que la div ne bouge pas
    width: 100%;
    height: 100%;
    //Pour que la div prenne toute la place
    background: rgb(0, 0, 0, 0.7);
    //Pour griser le fond
    margin: 0;
    //Pour supprimer les eventuelles marges
    z-index: 99;
    //Pour que l'overlay passe au dessus de tout
    animation: opacity 500ms;
    //Nom de l'animation + temps de l'animation
    animation-delay: 3s;
    //Temps avant que l'animation ne se déclanche
    animation-fill-mode: forwards;
    //Pour que l'animation ne revienne pas à son état inital (opacity 1)
}

@mixin new {
    //Pour la fiche "nouveau"
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiaire;
    color: darken($color-tertiaire, 40%);
    height: 30px;
    width: 80px;
    border-radius: 7% / 16%;
    position: absolute;
    right: 14px;
    z-index: 1;
}

//Menus 

@mixin background-menus($img) {
    background: url("../../images/restaurants/"+$img);
    background-size: cover;
    height: 250px;
    margin-top: -8px;
}

@mixin fiches {
    opacity: 0;
    margin-top: 30px;
    display: flex;
    background-color: white;
    border-radius: 23px;
    margin-bottom: 18px;
    padding-left: 5%;
    align-items: end;
    font-size: 0.85rem;
    margin-right: 3%;
    box-shadow: 2px 2px 8px -1px darken($color-bg, 40%);
    animation: apparition 2s forwards;
    height: 80px;
    overflow: hidden;

}

@mixin check {
    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiaire;
        height: 100%;
        width: 100px;
        margin-right: -100px;
        margin-left: 20px;
        transition: ease-in-out 1s;
        i{
            font-size: 2rem;
            color: white;
        }
    }
    &__first-child{
        display: flex;
        width: 100%;
        min-width: 70%;
        line-height: 19px;
        & div{
            transition: ease-out 1s;
            width: 100%;
        }
    }
}

    //Animations

@mixin anim-fiches {
    &__2{
        animation-delay: 0.3s;
    }
    &__3{
        animation-delay: 0.6s;
    }
    &__4{
        animation-delay: 0.9s;
    }
}

@mixin anim-check {
    .section-menus__fiches{
        &__check{
            margin-right: 0;
            transition: ease-in-out 1s ;
            i{
                transform: rotate(360deg);
                transition: transform 0.3s 0.5s ease-out;
            }
        }
        &__first-child {
            div{
                width: 70%;
                transition: ease-in-out 0.5s;
            }
        }
    }  
}