@font-face{ 
	font-family: 'Roboto';
	src: url('../sass/vendors/roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format("woff");
}

@font-face {
	font-family: "shrikhand";
	src: url("../sass/vendors/webfontkit-20210224-124557/shrikhand-regular-webfont.woff") format("woff"),
		 url("../sass/vendors/webfontkit-20210224-124557/shrikhand-regular-webfont.woff2") format("woff2");	
  }
