@charset "UTF-8";
@keyframes show-overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: initial;
  }
}
@keyframes opacity {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 24px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 12px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../../sass/vendors/roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "shrikhand";
  src: url("../../sass/vendors/webfontkit-20210224-124557/shrikhand-regular-webfont.woff") format("woff"), url("../../sass/vendors/webfontkit-20210224-124557/shrikhand-regular-webfont.woff2") format("woff2");
}
body {
  margin: 0;
  font-family: "Roboto";
  overflow: hidden;
  animation: show-overflow 500ms 3s forwards;
}

.head-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}
.head-menus__logo {
  width: 185px;
  height: auto;
}
.head-menus__arrow {
  width: 0;
  padding-left: 5%;
  z-index: 1;
}
.head-menus__arrow a {
  color: black;
}
.head-menus__container-logo {
  width: 100%;
  margin-left: -5%;
  text-align: center;
}

.btn {
  display: inline-block;
  background: linear-gradient(352deg, #9356DC 0, #FF79DA 92%);
  border-radius: 50%/192%;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  box-shadow: 2px 4px 6px #aaaaaa;
  width: 161px;
  text-align: center;
  transform: scale(1);
  transition: transform 700ms ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
  filter: brightness(110%);
  box-shadow: 2px 4px 7px #5d5d5d;
}

.heart-inside {
  opacity: 0;
  color: transparent;
}

.div-icone {
  line-height: initial !important;
  margin-left: initial;
}
.div-icone:hover .heart-inside {
  opacity: 1;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
  background: linear-gradient(360deg, #FF79DA 30%, #9356DC 100%);
  background-clip: text;
}
.div-icone:hover .heart-outside {
  opacity: 0;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
}
.div-icone:active .heart-inside {
  opacity: 1;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
  background: linear-gradient(360deg, #FF79DA 30%, #9356DC 100%);
  background-clip: text;
}
.div-icone:active .heart-outside {
  opacity: 0;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
}

footer {
  background-color: #353535;
  padding: 2% 0 5% 5%;
}
footer h2 {
  font-family: "Shrikhand";
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a i {
  margin-right: 10px;
}
footer a .icone-hand {
  width: 0.8rem;
}
footer a:hover {
  text-decoration: underline;
}
@media (min-width: 700px) {
  footer h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}
@media (min-width: 700px) {
  footer div {
    display: flex;
    justify-content: space-around;
    margin-left: -46px;
    margin-top: 40px;
  }
}

.head-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}
.head-accueil__logo {
  width: 185px;
  height: auto;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  z-index: 99;
  animation: opacity 500ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.overlay__loader {
  display: flex;
  font-family: "Shrikhand";
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  height: 5%;
  z-index: 100;
  color: white;
}
.overlay__bounce-ball {
  position: relative;
  width: 12px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.overlay__bounce-ball::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FF79DA;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

.section-intro {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 50px;
}
.section-intro__location {
  display: flex;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 7px -5px #909090;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.section-intro__location i {
  margin-right: 10px;
  margin-left: -10px;
}

.section-fonctionnement {
  margin-left: 8%;
}
.section-fonctionnement__container-fiches div {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 17px;
  width: 90%;
  height: 79px;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 5px 5px 8px #d0d0d0;
}
.section-fonctionnement__container-fiches div i {
  margin-left: 5%;
  margin-right: 5%;
}
.section-fonctionnement__container-fiches div:hover {
  background-color: #dddddd;
}
.section-fonctionnement__container-fiches div:hover i {
  color: #9356DC;
}
.section-fonctionnement__fiche-number {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  color: white;
  margin-left: -11.5px;
}
.section-fonctionnement__fiche-content {
  width: 100%;
}

.section-restaurants {
  background-color: #F6F6F6;
  margin-bottom: 0;
  padding: 30px 0 30px 0;
}
.section-restaurants h2 {
  margin-left: 8%;
}
.section-restaurants__link {
  margin: auto;
  display: inline-block;
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition: transform 700ms ease-in-out;
}
.section-restaurants__link:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
}
.section-restaurants__new {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #278870;
  height: 30px;
  width: 80px;
  border-radius: 7%/16%;
  position: absolute;
  right: 14px;
  z-index: 1;
}
.section-restaurants__container-fiches {
  display: flex;
  flex-wrap: wrap;
}
.section-restaurants__container-img {
  justify-self: center;
  margin: 0;
  width: 300px;
  height: 166px;
  overflow: hidden;
  border-radius: 5%/8%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-restaurants__container-img img {
  width: 300px;
  height: auto;
  position: relative;
}
.section-restaurants__container-txt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 70px;
  margin-bottom: 30px;
  border-radius: 5%/20%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.section-restaurants__container-txt div {
  line-height: 6px;
  margin-left: -22px;
}
.section-restaurants__container-txt i {
  font-size: 1.5rem;
}

.img-head__menu-1 {
  background: url("../../images/restaurants/1_la_palette_du_gout.jpg");
  background-size: cover;
  height: 250px;
  margin-top: -8px;
}
.img-head__menu-2 {
  background: url("../../images/restaurants/2_la_note_enchantée.jpg");
  background-size: cover;
  height: 250px;
  margin-top: -8px;
}
.img-head__menu-3 {
  background: url("../../images/restaurants/3_a_la_francaise.jpg");
  background-size: cover;
  height: 250px;
  margin-top: -8px;
  height: 300px;
}
.img-head__menu-4 {
  background: url("../../images/restaurants/4_le_delice_des_sens.jpg");
  background-size: cover;
  height: 250px;
  margin-top: -8px;
}

.div-icone__menus {
  font-size: 1.5em;
  line-height: 2em;
}
.div-icone__menus:hover .heart-inside {
  opacity: 1;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
  background: linear-gradient(360deg, #FF79DA 30%, #9356DC 100%);
  background-clip: text;
}
.div-icone__menus:hover .heart-outside {
  opacity: 0;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
}
.div-icone__menus:active .heart-inside {
  opacity: 1;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
  background: linear-gradient(360deg, #FF79DA 30%, #9356DC 100%);
  background-clip: text;
}
.div-icone__menus:active .heart-outside {
  opacity: 0;
  transition: opacity 1s cubic-bezier(1, 0.01, 0.63, 0.88);
}

.section-menus {
  margin-top: -71px;
  padding-bottom: 75px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #F6F6F6;
}
.section-menus h1 {
  font-family: "Shrikhand";
  font-weight: lighter;
}
.section-menus__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
.section-menus__subsections {
  margin-left: 3%;
}
.section-menus__subsections-titles {
  font-family: "Roboto";
  font-weight: lighter;
  border-bottom: solid #99E2D0 3px;
  width: 49px;
  font-size: 1.2rem;
}
.section-menus__fiches {
  opacity: 0;
  margin-top: 30px;
  display: flex;
  background-color: white;
  border-radius: 23px;
  margin-bottom: 18px;
  padding-left: 5%;
  align-items: end;
  font-size: 0.85rem;
  margin-right: 3%;
  box-shadow: 2px 2px 8px -1px #909090;
  animation: apparition 2s forwards;
  height: 80px;
  overflow: hidden;
}
.section-menus__fiches__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 100px;
  margin-right: -100px;
  margin-left: 20px;
  transition: ease-in-out 1s;
}
.section-menus__fiches__check i {
  font-size: 2rem;
  color: white;
}
.section-menus__fiches__first-child {
  display: flex;
  width: 100%;
  min-width: 70%;
  line-height: 19px;
}
.section-menus__fiches__first-child div {
  transition: ease-out 1s;
  width: 100%;
}
.section-menus__fiches__2 {
  animation-delay: 0.3s;
}
.section-menus__fiches__3 {
  animation-delay: 0.6s;
}
.section-menus__fiches__4 {
  animation-delay: 0.9s;
}
.section-menus__fiches:hover .section-menus__fiches__check {
  margin-right: 0;
  transition: ease-in-out 1s;
}
.section-menus__fiches:hover .section-menus__fiches__check i {
  transform: rotate(360deg);
  transition: transform 0.3s 0.5s ease-out;
}
.section-menus__fiches:hover .section-menus__fiches__first-child div {
  width: 70%;
  transition: ease-in-out 0.5s;
}
.section-menus__fiches__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-menus__fiches__price {
  align-self: flex-end;
  margin-left: auto;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn__commander {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
