.img-head{
    &__menu-1{
        @include background-menus("1_la_palette_du_gout.jpg");
    }
    &__menu-2{
        @include background-menus("2_la_note_enchantée.jpg");
    }
    &__menu-3{
        @include background-menus("3_a_la_francaise.jpg");
        height: 300px;
    }
    &__menu-4{
        @include background-menus("4_le_delice_des_sens.jpg");
    }
}

.div-icone{
    &__menus{
        font-size: 1.5em;
        line-height: 2em;
        &:hover{
            @include anim-hearts;
        }
        &:active{
            @include anim-hearts;
        }
    }
}

.section-menus{
    margin-top: -71px;
    padding-bottom: 75px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: $color-bg;
    h1{
        font-family: $font-title;
        font-weight: lighter;
    }
    &__title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;
    }
    &__subsections{
        margin-left: 3%;
    }
    &__subsections-titles{
        font-family: $font-body;
        font-weight: lighter;
        border-bottom: solid $color-tertiaire 3px;
        width: 49px;
        font-size: 1.2rem;
    }
    &__fiches{
        @include fiches;
        @include check;
        @include anim-fiches;
        &:hover{
            @include anim-check;
        }
        &__text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__price{
            align-self: flex-end;
            margin-left: auto;
            text-align: center;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}

.btn__commander{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}